{% extends 'base.html' %}

{% block titulo %}

{% if form %}

    <form action= "" method="POST">
        {% csrf_token %}
        <table>
            {{form}}
        </table>
        <input type="submit", value = "Send">
    </form>

{% elif nuevo_periferico %}

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"><h1>{{nuevo_periferico.name}}</h1></h5>
            <h5 class="card-title"><h4>tipo:{{nuevo_periferico.tipo}}</h4></h5>
            <h5 class="card-title"><h4>marca:{{nuevo_periferico.marca}}</h4></h5>
            <h5 class="card-title"><h4>marca:{{nuevo_periferico.marca}}}</h4></h5>
            <h5 class="card-title"><h2>$ {{nuevo_periferico.precio}}</h2></h5>
        </div>
    </div>

{% endif %}
{% endblock %}