{% extends 'base.html' %}

{% block titulo %}

{% if form %}

    <form action= "" method="POST">
        {% csrf_token %}
        <table>
            {{form}}
        </table>
        <input type="submit", value = "Send">
    </form>

{% elif nuevo_monitor%}

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"><h1>{{nuevo_monitor.name}}</h1></h5>
            <h5 class="card-title"><h4>Tipo: {{nuevo_monitor.tipo}}</h4></h5>
            <h5 class="card-title"><h4>Marca: {{nuevo_monitor.marca}}</h4></h5>
            <h5 class="card-title"><h4>Modelo: {{nuevo_monitor.modelo}}</h4></h5>
            <h5 class="card-title"><h4>Resolucion: {{nuevo_monitor.resolucion}}</h4></h5>
            <h5 class="card-title"><h4>Conexion: {{nuevo_monitor.conexion}}</h4></h5>
            <h5 class="card-title"><h2>Precio: ${{nuevo_monitor.precio}}</h2></h5>
        </div>
    </div>

{% endif %}
{% endblock %}