{% extends 'base.html' %}

{% block titulo %}

{% if form %}

    <form action= "" method="POST">
        {% csrf_token %}
        <table>
            {{form}}
        </table>
        <input type="submit", value = "Send">
    </form>

{% elif nuevo_equipo %}

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"><h1>{{nuevo_equipo.name}}</h1></h5>
            <h5 class="card-title"><h4>Marca:{{nuevo_equipo.marca}}</h4></h5>
            <h5 class="card-title"><h4>Modelo:{{nuevo_equipo.modelo}}</h4></h5>
            <h5 class="card-title"><h4>Disco:{{nuevo_equipo.disco}}</h4></h5>
            <h5 class="card-title"><h4>Memo:{{nuevo_equipo.memoria}}</h4></h5>
            <h5 class="card-title"><h2>Precio:${{nuevo_equipo.precio}}</h2></h5>
        </div>
    </div>

{% endif %}
{% endblock %}