{% extends 'base.html' %}
{% block titulo %}
<div class="d-flex" style = "margin-top:5rem; margin-left:7rem">
    {%for monitor in monitor_nuevo%}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"><h1>{{monitor.name}}</h1></h5>
            <h5 class="card-title"><h4>Tipo: {{monitor.tipo}}</h4></h5>
            <h5 class="card-title"><h4>Marca: {{monitor.marca}}</h4></h5>
            <h5 class="card-title"><h4>Modelo: {{monitor.modelo}}</h4></h5>
            <h5 class="card-title"><h4>Resolucion: {{monitor.resolucion}}</h4></h5>
            <h5 class="card-title"><h4>Conexion: {{monitor.conexion}}</h4></h5>
            <h5 class="card-title"><h2>Precio:$ {{monitor.precio}}</h2></h5>
        </div>
    </div>
{%endfor%}
{% endblock %}