{% extends 'base.html' %}
{% block titulo %}


{%for equip in equipo%}
<div class="d-flex" style = "margin-top:5rem; margin-left:10rem">

    <ul class="list-group">
        <li class="list-group-item active" aria-current="true">{{equip.name}}</li>
        <li class="list-group-item">modelo: {{equip.modelo}}</li>
        <li class="list-group-item">memoria: {{equip.memoria}}</li>
        <li class="list-group-item">disco: {{equip.disco}}</li>
        <li class="list-group-item">precio: ${{equip.precio}}</li>
    </ul>
{%endfor%}


{%for moni in monitor%}
<div class="d-flex" style = "margin-top:5rem; margin-left:10rem">
    <ul class="list-group">
        <li class="list-group-item active" aria-current="true">{{moni.name}}</li>
        <li class="list-group-item">tipo:{{moni.tipo}}</li>
        <li class="list-group-item">marca:{{moni.marca}}</li>
        <li class="list-group-item">modelo:{{moni.modelo}}</li>
        <li class="list-group-item">precio: ${{moni.precio}}</li>
    </ul>
{%endfor%}


{%for perif in periferico%}
<div class="d-flex" style = "margin-top:5rem; margin-left:10rem">


    <ul class="list-group">
        <li class="list-group-item active" aria-current="true">{{perif.name}}</li>
        <li class="list-group-item">tipo: {{perif.tipo}}</li>
        <li class="list-group-item">marca: {{perif.marca}}</li>
        <li class="list-group-item">modelo: {{perif.modelo}}</li>
        <li class="list-group-item">precio: ${{perif.precio}}</li>
    </ul>
{%endfor%}

{% endblock %}

