<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%for equipo in equipo_nuevo%}
        {{equipo.marca}}
        {{equipo.modelo}}
        {{equipo.disco}}
        {{equipo.memoria}}
        {{equipo.precio}}
    {%endfor%}

    {%for perif in externo_nuevo%}
        {{perif.tipo}}
        {{perif.marca}}
        {{perif.modelo}}
        {{perif.precio}}
    {%endfor%}

    {%for monitor in monitor_nuevo%}
        {{monitor.tipo}}
        {{monitor.marca}}
        {{monitor.modelo}}
        {{monitor.resolucion}}
        {{monitor.conexion}}
    {%endfor%}
</body>
</html>